body{
  margin:0;font-family:Segoe UI,Arial,sans-serif;background:#0f172a;color:white;
}
.login{
  position:fixed;
  inset:0;

  display:flex;
  justify-content:center;
  align-items:center;

  background:#0f172a;
}

.login-box{
  background:#1e293b;
  padding:30px;
  border-radius:15px;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
  text-align:center;
  width:260px;
}
.login input{margin:5px;padding:8px;width:200px;border-radius:5px;border:none;}
.login button{padding:8px 15px;margin-top:10px;border:none;border-radius:8px;background:#3b82f6;color:white;cursor:pointer;}
.error{color:red;margin-top:5px;text-align:center;}

.nav{
  display:flex;justify-content:space-around;background:#1e293b;padding:10px;
  flex-wrap:wrap;
}
.page{padding:10px;}
.card{
  background:#1e293b;padding:15px;border-radius:12px;margin:10px;
}
.sensor{display:flex;justify-content:center;margin-top:10px;}
.circle{width:160px;height:160px;border-radius:50%;background:linear-gradient(135deg,#22c55e,#3b82f6);display:flex;flex-direction:column;justify-content:center;align-items:center;}
.bulb{width:60px;height:60px;border-radius:50%;margin:auto;transition:0.3s;}
.off{background:#333;}
.on{background:yellow;box-shadow:0 0 30px yellow;}
button{
  padding:14px 22px;     /* to hơn */
  margin:8px;
  border:none;
  border-radius:12px;    /* bo tròn hơn */
  background:#3b82f6;
  color:white;
  cursor:pointer;
  font-size:16px;        /* chữ to hơn */
  font-weight:600;
  transition:0.2s;
}
@media(max-width:768px){
  button{
    padding:16px 24px;
    font-size:18px;
  }
}

/* hiệu ứng hover cho đã mắt */
button:hover{
  transform:scale(1.05);
  background:#2563eb;
}

/* bấm xuống */
button:active{
  transform:scale(0.95);
}
input,select{margin:5px;padding:5px;}
table{width:100%;border-collapse:collapse;margin-top:10px;}
td,th{padding:5px;border:1px solid #444;text-align:center;}
.center{text-align:center;}
.btn-group{text-align:center;margin:10px 0;}

#gpio2Lamp.bulb.on{
  background:#22c55e; 
  box-shadow:0 0 20px #22c55e;
}

/* Responsive */
@media(max-width:768px){
  .circle{width:120px;height:120px;}
  .bulb{width:50px;height:50px;}
  button{padding:8px;margin:3px;font-size:14px;}
}
